body {
    font-family: Arial ;
    text-align: center;
    margin-top: 50px;
}

.container {
    text-align: center;
}

#intents {
    font-size: 20px;
    margin-bottom: 20px;
}

input {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

button {
    padding: 5px 10px;
    font-size: 18px;
}

#resultat span {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 15px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.verd {
    background-color: #4caf50;
    color: white;
}

.taronja {
    background-color: #ff9800;
    color: white;
}

.blanc {
    background-color: #f1f1f1;
    color: black;
}


